{% extends 'base.html.twig' %} {% block title %}Reset Password {% endblock %} {%
block body %}
<div class="container">
  <h1 class="worspace">Renouveler le mot de passe</h1>
  {{ form(form) }}
</div>
{% endblock %}
