{% extends 'base.html.twig' %} {% block title %}Hello HomeController!{% endblock
%} {% block body %}
<section class="banner">
  <div class="container">
    <h1 class="d-flex justify-content-center name">STELLA SCIENTIA</h1>

    <p class="citation">
      << Rien dans la vie n'est à craindre. tout est à comprendre.>> Marie
      Curie.
    </p>

    <p>
      pour une ascension scolaire brillante dans vos classes,optez pour le
      groupe STELLA SCIENTIA
    </p>
    <h3>Nous mettons avotre disposition:</h3>
    <p>
      -Des répétitions à docmicile dans toutes les classes et toutes séries
      (6eme en Tle) <br />
      -Une assistance pour faciliter votre réussite briante en Maths, PC et SVT
      <br />
      -Un encadrement de qualité et adapté pour assurer vos devoirs et examens
      tout au long de l'année
    </p>

    <p>Pour continuer veillez vous inscrire ou vous connecter</p>
  </div>
</section>

{% endblock %}
