<footer class="bg-secondary">
  <div class="container">
    <h1 class="d-flex justify-content-center pt-3 text-white redress">
      Nos réseaux sociaux
    </h1>
    <div class="socialIcons pt-5">
      <a href="#">
        <div class="card whatsapp">
          <i
            class="fa-brands fa-whatsapp d-flex justify-content-center text-align-center pt-3"
          ></i>
          <div
            class="title d-flex justify-content-center text-align-center pt-4 redress"
          >
            Whatsapp
          </div>
        </div>
      </a>
      <a href="#">
        <div class="card facebook">
          <i
            class="fa-brands fa-facebook d-flex justify-content-center text-align-center pt-3"
          ></i>
          <div
            class="title d-flex justify-content-center text-align-center pt-4 redress"
          >
            Facebook
          </div>
        </div>
      </a>
    </div>
    <div class="copy pt-3 d-flex justify-content-center text-white">
      <p class="redress">
        Copyright &copy;2024; Designed by
        <span class="designer redress">BAMBINO</span>
      </p>
    </div>
  </div>
</footer>
