{% extends 'base.html.twig' %} {% block title %}Hello WorkSpaceController!{%
endblock %} {% block body %}
<div class="container">
  <h2 class="worspace">Veillez renseigner vos information du travail</h2>
  {{ form(form) }}
</div>
{% include "partiales/footer.html.twig" %} {% endblock %}
